@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
:root {
    --mainColor:#A306B6;
    --footer:#d9d9d9;
    --bgColor:#ffffff;

    --headerColor:#ffffff;

    --fontTitle:"Montserrat", sans-serif ;
    --fontP:"Source Sans 3", sans-serif;
}

h1,h2,h3 {
    font-family:var(--fontTitle);
}

p,li {
    font-family: var(--fontP);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height:100vh;

    header {
        background-color: var(--mainColor);
        color: var(--headerColor);

        nav {
                display:flex;
                flex-direction:column;

            img { 
                height: 50px;
                margin:1rem;
            }

            ul {
                display: flex;
                justify-content: space-around;
                list-style: none;
                margin: 1rem;
                font-weight: 600;

            }
            @media screen and (min-width:992px) {

                flex-direction: row;
                justify-content: space-between;

                ul {
                    
                    li {
                        display: flex;
                        align-items: center;
                        margin: 0 2rem;
                    }
                }
            }
        }

        #bigTitle {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding:2rem;

            img {
                height: 15vh;
                background-color: var(--bgColor);
                /* filter:drop-shadow(1px 1px 7px #ffff); */
                border: 3px solid var(--bgColor);
                border-radius: 50%;
                
            }

            @media screen and (min-width:992px) {

                flex-direction: row-reverse;
                justify-content: space-evenly;

                img {
                    height:25vh;
                }
            }
        }
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;

        h2 {
            color:var(--mainColor);
            font-size: 3rem;

        }
        h3 {
            font-size: 1.5rem;
            margin: 0.5rem;
        }

        p {
            width: 80%;
            margin:1rem;
        }

        #cardContainer {
            display: flex;
            flex-direction: column;
            align-items: center;

            article {
               
                aspect-ratio: 50/50;
                width:80%;
                aspect-ratio: 50/50;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                background-color: var(--footer);
                border-radius: 8px;
                margin: 0.5rem;
                padding: 1rem;

                img {
                    width: 80%;
                    aspect-ratio: 50/50;
                    
                }
                button {
                    background-color: var(--mainColor);
                    border: none;
                    color: var(--footer);
                    border-radius: 20px;
                    margin: 1rem;
                    padding: 0.4rem 1.5rem;
                }
            }

        }

        @media screen and (min-width:992px) {

            p {
                width:60%;
            }
            #cardContainer {
                flex-direction: row;

                img {
                max-height: 200px;
                }
            }
        }

    }

    footer {
        background-color: var(--footer);
        text-align: center;
        padding: 1rem;

        span {
            color: var(--mainColor);
        }

        #heart {
            background-color: red;
            width: 1rem;
        }
    }
}